!!!
%html
  %head
    %title Charmaker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield

  :javascript
    $.material.init()
    $('select[data-select="single"]').selectize({
      create: false,
      sortField: 'text'
    });
